.dropdown {
    max-height: 100px; /* Adjust this value to your desired height */

  /* Add overflow properties to enable scrolling */
  overflow-y: auto;
  overflow-x: hidden;
}

.cap, .dropdown MenuItem {
  text-transform: capitalize;
}

.garageCard {
  margin-top: .5em; 
  margin-bottom: 0.5em; 
  padding-left: 0.5em;
  height: 2.5em; 
  border: 1px solid #d3d3d3; 
  width: 10em;
}

.garageCardText {
  color: #383838;
  margin-top: 0.8em;  
  text-align: left; 
  font-size: 0.7em; 
  /* font-size: 1em; */
}

.menu_button {
  height:2em; 
  width: 10em; 
  border-width: 0.2em;
}
